* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   display: flex; 
   align-items: center;
   justify-content: center;
   background-color: darkgrey;
}
#main{
    margin-top: 20%;
}
div button{
    padding: 5px;
    font-size: 1.5rem;
    margin: 10px 10px;
    height: 50px;
    width: 50px;
    align-items: center;
}
#inputBox {
    padding: 5px;
    display: flex;
    text-align: end;
    font-size: 1.5rem;
    height: 50%;
    width: 100%;
}